{% extends 'base.html' %} {% block content %}
{% load static %}



<h1> {{community_profile.name}} name </h1>
    {% for post in community_posts %}
    <div class="card">
        <div class="card-header light-bg text-left">
            {{ post.user }}
        </div>
        <div class="card-body light-bg">
            <h5 class="card-title text-left">
                {{ post.title }}
            </h5>
          <p class="card-text text-left"> {{post.content}} </p>
        </div>
    </div>
    {% endfor %}




{% endblock content %}