{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->

<div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col-md-4">
       <div class="p-3 dark-bg">Custom column padding</div>
      </div>
      <div class="col-md-8">
        <div class="p-3 dark-bg">
            {% for post in post_list%}
            <div class="card">
                <div class="card-header light-bg text-left">
                    <a href="{% url 'community_detail' name=post.community %}" class="post-link">{{ post.community }}</a>
                </div>
                <div class="card-body light-bg">
                    <h5 class="card-title text-left">
                        <a href="{% url 'post_detail' slug=post.slug %}" class="post-link">{{ post.title }}</a>
                    </h5>
                  <p class="card-text text-left"> {{post.content}} </p>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
</div>

<!-- index.html content starts here -->
<!-- <div class="container-fluid">
    <div class="row"> 
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.user }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div> -->

<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
    Copyright 2024 Dhruvesh Prabhakar
{% endblock %}